.navbar-brand-container {
    display: flex;
    align-items: center;
}

#title {
    margin-left: 10px; 
}

.navbar-nav .nav-link {
    font-family: 'Times New Roman', sans-serif;
}

.container {
    background-color: pink;
}

.container-fluid {
    background-color: pink;
    height: 110px;
}