.navbar-brand-container {
    display: flex;
    align-items: center;
}

#title {
    margin-left: 10px; 
    font-family: 'Bangers', cursive;
    font-size: 3em; 
    color: #FF69B4; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    -webkit-text-stroke: 1px white;
}

.navbar-nav .nav-link {
    font-family: 'Times New Roman';
    color: white;
}

.container {
    background-color: pink;
}

.container-fluid {
    background-color: pink;
    height: 110px;
}